* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }

  .navbar {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 65%;
    margin-left: -1.5em;
  }
}

header {
  background-color: #fff;
}

.logo-container {
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: 25%;
}

.nav-link,
.name {
  color: #000000;
  text-decoration: none !important;
  margin: 0px 5px 5px 5px;
  padding: 5px;
}

.nav-link:hover,
.name:hover {
  color: #f59942;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none !important;
  }
}

.img-fluid {
  height: 60px;
  width: 60px;
  margin: 0px 10px 5px 5px;
  display: block;
  border-radius: 50%;
}

section {
  background:
    linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(images/common-bg.svg);
  background-size: cover;
  background-position: center;
}

.home-socials {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .home-socials {
    display: none;
  }
}

.home-social {
  padding: 10px;
  border: 1px solid #eee;
}

.home-social:hover {
  background-color: #f5b87f;
}

.home-content_heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
  font-weight: 900;
}

.home-content {
  color: #000000;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-paragraph {
  margin: 20px 0 30px 0;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  width: 100%;
  line-height: 1.6;
}

.btn {
  background-color: #d66e0b !important;
  color: #000000 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  display: inline-block !important;
  border-radius: 30px !important;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15) !important;
  transition: transform 0.3s !important;
  padding: 1.5rem 5rem !important;
  margin: 1rem 1rem 0 0;
}

.btn:hover,
.btn:focus {
  transform: translateY(-0.25em);
}

.about {
  display: block;
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.heading-second {
  margin-top: 100px;
  font-size: 4rem;
}

.heading-second:after {
  content: " ";
  display: block;
  border: 2px solid #d66e0b;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 15%;
  margin-left: 105px;
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .heading-second:after {
    margin-left: 90px;
  }
}

.heading-sub {
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
  width: 75%;
}

.about_content-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.about_content-details {
  margin: 50px 0px 0px 100px;
}

@media only screen and (max-width: 900px) {
  .about_content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }

  .about_content-details {
    margin: 30px 0px 0px 50px;
  }
}

@media only screen and(max-width: 600px) {
  .heading-sub {
    width: 100%;
  }
}

.about_content-title {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 2em;
}

.about_btn {
  margin-top: 2.5em;
}

.about_content-details-paragraph {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.about_content-skills {
  margin: 50px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills_skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.main_content {
  width: 100%;
}

.heading-first {
  font-size: 4rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.heading-first::after {
  content: " ";
  display: block;
  border: 2px solid #d66e0b;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 15%;
  margin-left: 105px;
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .heading-first:after {
    margin-left: 90px;
  }
}

.heading_para {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 7rem;
}

.project_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project_row-content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.project_row-content-title {
  font-size: 1.5rem;
}

.project_row-content-para {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1.5em 0 1.5em 0;
  max-width: 70%;
}

.project_row:nth-child(-n + 3) {
  margin-bottom: 11rem;
}

.project_row-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__row-img {
  width: 70%;
  display: block;
  object-fit: cover;
  padding: 3em;
}

@media only screen and (max-width: 900px) {
  .project_row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .projects__row-img {
    width: 90%;
    display: block;
  }

  .project_row-content {
    align-items: center;
    width: 100%;
  }

  .project_row-content-para {
    width: 75%;
    text-align: center;
  }
}

.contact {
  padding: 11rem 0;
}

.contact__title p {
  color: #d66e0b;
  font-size: 1.75rem;
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 6rem;
}

.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.circle-icon {
  background: #fff;
  padding: 30px;
  border-radius: 50%;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact__info p {
  color: #808080;
  font-size: 25px;
}

.contact__info p:hover {
  color: #f5b87f;
  cursor: pointer;
}

.contact__icon-box i {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
}

@media only screen and (max-width: 900px) {
  .header__links {
    display: none;
  }

  .contact__icon-box {
    flex-direction: column;
  }

  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }

  .contact__title {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .contact__icon-box {
    flex-direction: column;
  }

  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }

  .contact__title {
    text-align: center;
    justify-content: center;
  }
}

.header__link {
  padding: 2.2rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}

.header__link:hover {
  color: #0062b9;
}

@media only screen and (max-width: 900px) {
  .header__link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }
}

.header__main-ham-menu-cont {
  display: none;
  width: 4rem;
  padding: 2.2rem 0;
  float: right;
}

@media only screen and (max-width: 900px) {
  .header__main-ham-menu-cont {
    display: block;
  }
}

.header__main-ham-menu {
  width: 100%;
}

.header__main-ham-menu-close {
  width: 100%;
}

.header__sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0.01em;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.header__sm-menu--active {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 900px) {
  .header__sm-menu--active {
    visibility: visible;
    opacity: 1;
  }
}

.header__sm-menu-link a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  font-size: 1.6rem;
  color: #000;
  text-align: right;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.header__sm-menu-link a:hover {
  color: #f59942;
}

.header__sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}

.header__sm-menu-link-last {
  border-bottom: 0;
}

.footer-basic {
  padding: 40px 0;
  background-color: #000000;
  color: #fff;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
